*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

content{
    margin-top: 20px;
}